body {
  font-family: 'Oswald', sans-serif; }
  body .toolbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; }
  body .toolbar-2 {
    float: left; }
  body .toolbar-2 a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #000000; }
  body .toolbar-2 a:hover {
    color: #fb377f; }
  body .flex-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; }
  body .logo {
    max-width: 319px;
    max-height: 25.52px; }
