body {

    font-family: 'Oswald', sans-serif;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        color: #000000;
    }

    li a:hover {
        color: #fb377f;
    }

    .flex-content {
        display: flex;        
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    .logo {
        max-width: 319px;
        max-height: 25.52px;
    }
} //end-body