body {

    font-family: 'Oswald', sans-serif;     

    .navbar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        margin-left: 15px;
    }

    .navbar-2 {
        float: left;
    }

    .navbar-2 a, .dropbtn {
        display: inline-block;
        text-align: center;
        padding: 14px 8px;
        text-decoration: none;
        color: #000000;
    }

    .navbar-2 a:hover, .dropdown:hover .dropbtn {
        color: #fb377f;
    }

    li.dropdown {
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgba($color: #f9f9f9, $alpha: 0.8);
        min-width: 160px;
        z-index: 1;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 8px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
        
    .dropdown:hover .dropdown-content {
        display: block;
    }

    .flex-content {
        display: flex;        
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    .logo {
        max-width: 319px;
        max-height: 25.52px;
    }
} //end-body